<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Page</title>
</head>
<body>

    <div>
        <div>
            <form>
                {% csrf_token %}

                <label for=" ">Type</label>
                <input type="text" name = "service-name" value="">
                <button type="submit" name="submit">Search</button>
            </form>
        </div>

      {% for item in data %}
        <div> {{item.icon}} -- {{item.title}} -- {{item.description | safe }}</div>


        {% endfor %}
    </div>

</body>
</html>